name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: List Directory Contents for Debugging
      run: ls -R
      # Lists all files and folders to confirm the exact path to `pom.xml`

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Trivy SBOM Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: sbom
        format: table
        output: trivy-sbom-report.txt
        input: app/target/bom.xml
  

    - name: Build with Maven
      run: mvn -B package -f app/pom.xml
