name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: List Directory Contents for Debugging
      run: ls -R
      # Lists all files and folders to confirm the exact path to `pom.xml`

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

      
    - name: Install Trivy
      run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y

    - name: Scan project and generate txt report
      run: |
          trivy fs --format --table -o trivy-report.txt .

    - name: Generate SBOM (CycloneDX)
      run: trivy fs --format cyclonedx -o sbom.cdx.json .

    - name: Upload Trivy Reports
      uses: actions/upload-artifact@v4
      with:
          name: trivy-reports
          path: |
            trivy-report.txt.
            sbom.cdx.json

    - name: Build with Maven
      run: mvn -B package -f app/pom.xml